[Unit]
Description=Battery voltage monitor (continuous watch)
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
ExecStart=ExecStart=/usr/local/bin/batt_monitor --watch --r1 68000 --r2 10000 --trim 1.063
Restart=on-failure
RestartSec=10
StandardError=journal

[Install]
WantedBy=multi-user.target
